.list-group.overflow-auto{
	overflow-y: scroll;
	margin-bottom: 25px;
	height: 71vh;
	
}
.scrolling-area{
	direction: rtl;
	margin:0;
	padding-right: 5px;
}

#style-4::-webkit-scrollbar
{
	width: 3px;
	background-color: #BDBDBD;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: rgb(23, 23, 23);
	border: 3px solid rgb(23, 23, 23);
}